<!DOCTYPE html>
<html>

<head>
    <title>Raspimusik</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body >
    <div class="navbar navbar-default navbar-fixed-top" style="min-height: 68px; max-height: 68px; height: 68px; background-color: slateblue;">
        <div style="margin: 0 auto; width: 240px">
            <form action="/previous" method="post" target="iframe" style="float: left">
                <button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-fast-backward"></span></button>
            </form>
            <form action="/back30" method="post" target="iframe" style="float: left">
                <button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-backward"></span></button>
            </form>
            <form action="/play" method="post" target="iframe" style="float: left">
                <button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-play-circle"></span></button>
            </form>
            <form action="/pause" method="post" target="iframe" style="float: left">
                <button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-pause"></span></button>
            </form>
            <form action="/fwd30" method="post" target="iframe" style="float: left">
                <button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-forward"></span></button>
            </form>
            <form action="/next" method="post" target="iframe">
                <button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-fast-forward"></span></button>
            </form>
        </div>
        <div style="margin: 0 auto; width: 80px">
            <form action="/volDown" method="post" target="iframe" style="float: left">
                <button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-volume-down"></span></button>
            </form>

            <form action="/volUp" method="post" target="iframe">
                <button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-volume-up"></span></button>
            </form>
        </div>
    </div>

    <div style="text-align: center; margin-top: 100;">
        <h1>Raspimusik</h1>
    </div>
    <iframe name="iframe" style="display:none; "></iframe>

    <br>

    <div style="margin-right: 10%; margin-left: 10%">
        <ul style="list-style-type: none;">
            <li class="list-group-item song-button-header">
                <span class="song-button-span-250">
                    Titel
                </span>
                <span class="song-button-span-250">
                    Album
                </span>
                <span class="song-button-span-250">
                    Künstler
                </span>
                <span class="song-button-span-50">
                    Track
                </span>
            </li>
            <% songs.forEach(function(song, index) { %>
            <li>
                <form action="/song" method="post" target="iframe">
                    <button class="btn btn-secondary song-button" type="submit" value='<%=song %>' name='title'>
                        <span class="song-button-span-250">
                            <%=songDetails[index].title != null ? songDetails[index].title : "" %>
                        </span>
                        <span class="song-button-span-250 text-muted">
                            <%=songDetails[index].album != null ? songDetails[index].album : "" %>
                        </span>
                        <span class="song-button-span-250 text-muted">
                            <%=songDetails[index].artist != null ? songDetails[index].artist : "" %>
                        </span>
                        <span class="song-button-span-50 text-muted">
                            <%=songDetails[index].v2.track != null ? songDetails[index].v2.track : songDetails.v1.track != null ? songDetails.v1.track : "" %>
                        </span>
                    </button>
                </form>
            </li>
            <% }); %>
        </ul>
    </div>

</body>

</html>